@model BookMyTickets.Models.Theater

@{
    ViewData["Title"] = "Create";
}
    <style>
        .loginBox {
            box-shadow: 5px 15px rgb(203, 221, 236);
            background-color: rgb(205, 247, 247);
            display: flex;
            flex-direction: column;
            margin: 50px;
            margin-left: 30%;
            margin-right: 30%;
            padding: 50px;
            border-radius: 20px;
            border: none;
            height: auto;
        }
    </style>
    <div class="loginBox">
        <h2>Login For Theater</h2>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="TheaterName" class="control-label"></label>
                        <input asp-for="TheaterName" class="form-control" />
                        <span asp-validation-for="TheaterName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NoOfScreen" class="control-label"></label>
                        <input asp-for="NoOfScreen" class="form-control" />
                        <span asp-validation-for="NoOfScreen" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="SignUp" class="btn btn-primary" />
                        <a style="margin-left:auto" class="btn btn-primary" name=" value="Go To Login" asp-controller="Theaters" asp-action="SignInForTheater">Go To Login</a>
                    </div>
                </form>
            
      
    </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

