
@{
    ViewData["Title"] = "AboutUs";
}
<style>
#navAboutUs{
    background-color:aliceblue;
 }

.jumbotron {
    margin-top: 1rem;
}
</style>

<div class="jumbotron">
    <h1 class="display-4">About Us!!</h1>
    <p class="lead">This is Page contains the all the information about us temporarely we have given a some random text to this page.under Construction</p>
    <hr class="my-4">
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit minima aliquam labore. Eum quia ipsam est alias libero hic quae nostrum dignissimos, quo, ad quas ex quasi fuga quidem eaque deserunt natus molestias, dolore ratione consectetur error. Unde
        sapiente hic amet! Architecto impedit debitis ipsam.t uses utility classes for typography and spacing to space content out within the larger container Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam obcaecati nihil consequatur
        harum porro minus explicabo quo maiores a consectetur molestias quasi ipsum commodi, nemo, enim quae ut perspiciatis voluptates. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, dolores harum quisquam alias architecto
        odit. Minima repellendus iure, et repudiandae eligendi accusamus ea tempora reiciendis, architecto amet quasi neque aliquam eum. Aliquid, ipsum!
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

